{% extends 'dashboard/layout.html.twig' %}

{% block body %}
    <div class="container content-body">
        <h2>Races</h2>
        <div class="row">
            <div class="col-md-4 col-lg-3 mt-4">
                <a class="card btn" href="{{ path('app_race_events') }}">
                    <div class="card-body">
                        <div class="row">
                            <div class="card-img col-2">
                                <img src="{{ asset('img/svg/race.svg') }}" alt="race-pic" style="max-width: 60%; max-height: 150px;">
                            </div>
                            <div class="card-text col-10">
                                <h3>Race Events</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
